/* css flexbox:  */
body {
  margin: 0;
}

.nav-bar {
  background-color: #37474f;
  height: 70px;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  background-color: red;
  display: flex;
  justify-content: space-around;
  width: 500px;
}

.right {
  background-color: blue;
  display: flex;
  justify-content: flex-end;
  width: 500px;
}
.nav-link {
  color: white;
  font-size: 2rem;
  /* margin: 0 10px; */
}
