/* css flexbox:  */

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(cyan, purple);
}
.container {
  display: flex;
  justify-content: center;
}

.card {
  background: white;
  border-radius: 5px;
  width: 400px;
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.card footer {
  background: slateblue;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: auto;
}
