/* css flexbox:  */
body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(to right, blue, green);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  background-color: yellow;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 4rem;
}
